/UI/node_modules
/UI/package-lock.json
/UI/public/bundle.js
/Workspace/Rest/.settings
/Workspace/Rest/target
/Workspace/RestInterface/.settings
/Workspace/RestInterface/target
/Workspace/crud/.settings
/Workspace/crud/target
/Workspace/Beans/.settings
/Workspace/Beans/target
/Workspace/elastic/.settings
/Workspace/elastic/target